replicaCount: 3
environment: kubernetes

image:
  repository: "netifi/broker"
  tag: "1.6.10"
  pullPolicy: "IfNotPresent"

automountServiceAccountToken: true

sslDisabled: false
prometheusBridgeEnabled: true

console:
  port: 9000
  service:
    port: 9000

metrics:
  port: 8888

tcp:
  port: 8001
  public:
    addressUsePodIP: false
    addressUseHostIP: true
    address:
    port: 8001
  service:
    port: 8001

websocket:
  port: 8101
  public:
    addressUsePodIP: false
    addressUseHostIP: true
    address:
    port: 8101
  service:
    port: 8101

cluster:
  port: 7001
  public:
    addressUsePodIP: false
    addressUseHostIP: true
    address:
    port: 7001
  service:
    port: 7001

admin:
  accessKey: "9007199254740991"
  accessToken: "kTBDVtfRBO4tHOnZzSyY5ym2kfY="
  port: 6001
  public:
    addressUsePodIP: false
    addressUseHostIP: true
    address:
    port: 6001
  service:
    port: 6001

jmx:
  port: 40000

discovery:
  portName: cluster

resources:
  limits:
    cpu: "2"
    memory: "2Gi"
  requests:
    memory: "2Gi"
    cpu: "100m"

nodeSelector: {}
serviceType: LoadBalancer

logger:
  rootLevel: info
  netifiLevel: info
  rsocketErrorLevel: debug
  rsocketFrameloggerLevel: info
